If:
  PathMatch: [.*/external/.*]
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
  ClangTidy:
    Remove: "*"
---
If:
  PathMatch: [src/config/.*]
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
  ClangTidy:
    Remove: "*"

---
SemanticTokens:
  DisabledKinds: [Operator]

Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
